<span>		
		<div id = "footerWrapped">
			<div id ="info">
					<div class="hfor3"><u>For information call:</u></div>
						<br>
						<div class="info">
							212 TELEPHONE (212-835-3746) or (212) 947-4155
							<br>
							Email: info@automatedsys.net
							<br>
							<br>
							<u>Located at: </u>:
							<br>
							224 West 30th Street, 
							<br>
							Suite 805, New York N.Y. 10001
						</div>	
				</div>

				<!-- <hr class = "hrWidth"> -->
				<p> &#169; Automated Answering Systems </p>
				<p id="demo"></p>
				<script>
					document.getElementById("demo").innerHTML = Date();
				</script>
			</div>
		</div>
</span>
