<span>		
		<div id = "footerWrapped">
				<p> 	&#169; <%=author%> </p>
				<p id="demo"></p>
				<script>
					document.getElementById("demo").innerHTML = Date();
				</script>
			</div>
		</div>
</span>
