<span>		
		<div id = "footerWrapped">
			<img id = "contentPicture"  src="./pictures/image01.jpg" >
			
			<div id = 'footer'>	
				<p><b>For more information call:</b> 212 TELEPHONE (212-835-3746) or <b>email:</b> info@automatedsys.net</p>
				<p>  <%=author%> </p>
				<p id="demo"></p>

				<script>
				document.getElementById("demo").innerHTML = Date();
				</script>
			</div>
		</div>
</span>
