<span>		
		<div id = "footerWrapped">
			<img id = "contentPicture"  src="./pictures/image01.jpg" >
			
			<div id = 'footer'>	
					<h2>Contact and Location</h2>
				<ol class = "contact">

					<li><b>Automated Answering Systems Inc.</b></li>
					<br>
					<li>224 West 30th Street </li>
					<li>Suite 205</li>
					<li>New York, N.Y. 10001</li>
					<li style = "margin-bottom:7px">.....................................</li>
					<li><b>Tel:</b> 212.947.4155</li>
					<li><b>Fax:</b> 212.947.4159</li>
					<li><b>Sales Deptment:</b> 212TELEPHONE (212.835.3746) </li>
					<li><b>Sales Deptment:</b> info@automatedsys.net</li>
				</ol>
				<!-- <p><b>For more information call:</b> 212 TELEPHONE (212-835-3746) or <b>email:</b> info@automatedsys.net</p> -->
				<p> 	&#169; <%=author%> </p>
				<p id="demo"></p>

				<script>
					document.getElementById("demo").innerHTML = Date();
				</script>
			</div>
		</div>
</span>
