<span>		
		<div id = "footerWrapped">
				<hr class = "hrWidth">
				<p> &#169; Automated Answering Systems </p>
				<p id="demo"></p>
				<script>
					document.getElementById("demo").innerHTML = Date();
				</script>
			</div>
		</div>
</span>
