<nav>
	<div>
		<ul class = 'nav'>
			<li id = "navLi"><a href="/">Automated Answering Systems</a></li>
			<li id = "navLi"><a href="/about">Company-Background</a></li>
			<li id = "navLi"><a href='/solutions'>Solutions</a></li>
			<li id = "navLi"><a href='/contact'>Contact</a></li>
		</ul>
	</div>
</nav>
