/*/*/*DOM css sheet*/

h1	{
	text-align: center;
	max-width:100%;
	height:auto;
	width: auto;    
	border-radius: 20px;
	box-shadow: 1em 1em 1em black;


}

img{
	box-shadow: 3px 3px 3px #888888;
}

#content1Picture{
	float: left;
}

p{
	font-family: 'Roboto Slab', serif;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 1em;
}

body{
	margin: 0px;
	background-color: #888888;
}

#AvayaContent{
	text-align: center;
	margin: 5px;
	padding:5px;
	width: auto;
	height: auto;
	border-top: 3em solid #888888;
	width: auto;
	margin: 0px;
}
.showcase{
	margin:0px;
	
	border: 1px solid purple;
}

#indexContent{
	/*border-radius: 25px;*/
	/*border-top: 1px solid black;*/
	text-align: left;	
	background-color: white;
	margin-top:1em;
    width: auto;
    height: auto;
    padding: 2em;
 
}

nav{
	text-align: center;
	font-size: 1.3em;
}

#content1{

	margin: 0px;
	text-align: center;
	margin-bottom: 3em;	
	background-color: white;
    width: 100%;
    font-size: 1em;
}

ul #navLi{
	padding:.1em;
	background-color: white;
}
ul li{
	padding: 0px;
	margin: 0px;
	font-family:  serif;
	display: inline;
	border: 1px solid black;
    box-shadow: 10px 10px  #888888;

}

.contact{
	margin-left: 5%;
	margin-right: 5%;
	border: 2px solid #e6b800;
}

li{
	font-family: "Times New Roman", Times, serif;
}
ol{
	display: block;
	padding:10px;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
    text-align: left;
}

#contentPicture{

	padding: 15px;
}
#footerWrapped{
	margin: 0px;
	text-align: center;
	display: block;
	background-color: white;
    width: 100%;
    margin-bottom: 3em;
}

b{
	text-decoration: underline;
}
*/*/