<!DOCTYPE html>
<html lang = 'en'>
<head>

<% include ../partials/head%>

</head>
<body>
		<header>
			<% include ../partials/header%> <h1> <%= page%></h1>
		</header>
	<div id = "content1">

		

		<nav>
			<% include ../partials/nav %>
		</nav>
	
		<div id = "bodyCentered">

		<p> Automated Answering Systems, Inc. was formed in 1962, and has since maintained its reputation as one 
of the most respected suppliers of telecommunications systems. The company specializes in providing 
state of the art Avaya IP telephone systems.  Over 45 years of experience in providing telecommunications products to business and industry.  We represent Avaya, the world’s leading manufacturer of IP based communication equipment.
A staff of experienced, dedicated sales and Avaya certified technical support personnel insure that each 
system is designed to deliver maximum benefits.  Proud of our reputation for providing prompt, professional service and our ability to respond quickly and effectively to all service requests We provide systems precisely suited to each specific application, regardless of how modest or 
sophisticated, at very competitive prices.</p>

<ol>
	<li><b>Our Products and Services Include:</b></li>
	<br>
	<li>Business Telephone Systems</li>
	<li>Computer/Telephone Integration</li>
	<li>Computer/Telephone Integration</li>
	<li>Unified Messaging</li>
	<li>Headsets</li>
	<li>Call Recording</li>
	<li>Conference Bridges </li>
	<li>Voice/Data Cabling</li>
</ol>
	</div>
	</div>
		<% include ../partials/footer%>
	</div>
</body>
</html>