<!DOCTYPE html>
<html lang = 'en'>
<head>

<% include ../partials/head%>

</head>
<body>
		<header>
			<% include ../partials/header%> <h1> <%= page%> </h1>
		</header>

		<div id = "content1">
				<nav>
					<% include ../partials/nav %>
				</nav>

				<!-- <img class = "contentPicture"  src="./pictures/image01.jpg" > -->

				<ol class = "contact">
					<li><b>Automated Answering Systems Inc.</b></li>
					<br>
					<li>224 West 30th Street </li>
					<li>Suite 205</li>
					<li>New York, N.Y. 10001</li>
					<li style = "margin-bottom:7px">.....................................</li>
					<li><b>Tel:</b> 212.947.4155</li>
					<li><b>Fax:</b> 212.947.4159</li>
					<li><b>Sales Deptment:</b> 212TELEPHONE (212.835.3746) </li>
					<li><b>Sales Deptment:</b> info@automatedsys.net</li>
				</ol>
		</div>
		
	</div>
	<div>
		<% include ../partials/footer%>
	</div>
</body>
</html>