<!DOCTYPE html>
<html lang = 'en'>
<head>
			<% include ../partials/head%>
</head>
<body>
	<header>
			<% include ../partials/header%> 
	</header>

	
	<div id = "content1">	
		
					<div id = "indexContent">
						<div class = "demo">
							<img id = "contentPicture" class ="shine"  src="./pictures/image01.jpg" >
							<div class = "show-off"></div>
						</div>
					<div class="text">
						<p><hr><span>Automated Answering Systems</span> sells, installs, and maintains Avaya’s product line of telecommunication equipment.  Our products are specifically designed for small to medium sized businesses. </p>
						<p>We offer Avaya’s IP telephony products such as the IP Office telecommunication system. IP Office provides advanced benefits such as unified messaging, converged solutions, wireless telephones, low cost IP trunking, and delivers advanced applications to support mobile communications and companies with multiple office locations.</p> 
		
						<p>We offers Voice and Data cabling as well as Cloud Based Hosted Telephone services. We can serve as a single point of contact offering Voice and Internet Carrier services. 
						Automated also provides service and support for Avaya’s legacy telephone system products such as Avaya’s Partner ACS System and Avaya’s Magix systems. </p>
						<h2><span>Automated Answering Systems </span> has maintained a reputation for providing customers with unparalleled customer support for over 25 years.</h2>
					</div>

						<div class="hfor3"><u>For information call:</u></div>
						<br>
						<div class="info">
						
							212 TELEPHONE (212-835-3746) or (212) 947-4155
							<br>
							Email: info@automatedsys.net
							<br>
							<u>Location </u>:
							<br>
							224 West 30th Street, 
							<br>
							Suite 805, New York N.Y. 10001
						</div>	

					</div>	
				<div id = "AvayaContent">

					<script class='CspSyndicationScript' type='text/javascript'  src='https://635785142386838811.avaya.tiekinetix.com/Csp/?mfrname=avaya'></script>
						<div class='showcase'></div><a href='http://www.avaya.com/' class='SEOLink' style='font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#777;text-decoration: none;'>Avaya</a>
				</div>
					
	</div>
	</div>
		<% include ../partials/footer%>
	</div>
</body>
	
</html>