<!DOCTYPE html>
<html lang = 'en'>
<head>
			<% include ../partials/head%>
</head>
<body>
	<header>
			<% include ../partials/header%> 
	</header>

	<nav>
			<% include ../partials/nav %>
	</nav>
	<div id = "content1">	

					<div id = "indexContent">

						<p>Automated Answering Systems sells installs and maintains Avaya’s 
						product line of telecommunication equipment specifically designed for small 
						to medium sized business including Avaya’s IP telephony products such as 
						the IP Office telecommunication system. IP Office provides advanced 
						benefits such as unified messaging, converged solutions, wireless 
						telephones, low cost IP trunking, and delivers advanced applications to 
						support mobile communications and companies with multiple office 
						locations. </p>


						<p>Automated Answering Systems also provides service and support for Avaya’s 
						legacy telephone system products such as Avaya’s Partner ACS System and 
						Avaya’s Magix systems. Additionally Automated can serve as a single 
						point of contact offering Voice and Data Cabling as well as Voice and 
						Internet carrier services.  Automated has maintained a reputation for providing 
						customers with unparalleled customer support.</p>

						<p><b>For more information call:</b> 212 TELEPHONE (212-835-3746) or <b>email:</b> 
						info@automatedsys.net</p>	
						
					</div>	
				<div id = "AvayaContent">
					<script class='CspSyndicationScript' type='text/javascript'  src='http://635785142386838811.avaya.tiekinetix.com/Csp/?mfrname=avaya'>
					</script>
					<div class='showcase'></div><a href='http://www.avaya.com/' class='SEOLink' style='font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#777;text-decoration: none;'>Avaya</a>
				</div>
					
	</div>
	</div>
		<% include ../partials/footer%>
	</div>
</body>
	
</html>