<!DOCTYPE html>
<html lang = 'en'>
<head>

<% include ../partials/head%>

</head>
<body id = 'container'>
    <header>
        <% include ../partials/header%> <h1> <%= page%></h1>
    </header>
<div id = "content1">
    <nav>
        <% include ../partials/nav %>
    </nav>
    <ol>
        <li><b>Services and Solutions</b> </li>
        <br>
        <li>Voice Over IP Telephone Systems</li>
        <li>System Design and Implementation</li>
        <li>System Support</li>
        <li>Unified Messaging Solutions</li>
        <li> Converged Communication Solutions</li>
        <li>Call Center Solutions</li>
        <li>Voice and Data Cabling</li>
    </ol>
        <h3>Voice Over IP Telephone Systems</h3>
        <p>
        Automated Answering Systems VOIP solutions provides small to medium sized businesses with big business capability and enables efficiency never before possible while meeting small to midsize business budgets.
        As a converged communication system the Avaya IP Office incorporates many advanced features such as unified messaging.
        The VOIP technology enables employees to work anytime from anywhere. Individuals can be contacted on the road, at home, at the airport etc. Branch offices and home workers can be contacted using a unified dialing plan that is transparent to the callers.  The  Avaya IP office supports multiple telephone communication technologies and therefore can be tailored to achieve the highest level of reliability and versatility.  
        </p>
</div>
                    
    <div >
    <% include ../partials/footer%>
    </div>
</body>
</html>